.navbar {
    background-color:#32c3f0;
    color: white;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    margin-left: 3%;
    margin-right: 3%;
}

.site-describe {
    margin-top: 1%;
    margin-left: 4%;
    font-style: italic;
}

.main-container {
    padding-top: 10px;
}

.border {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 10px;
}

ul {
    list-style: none;
}

.main-section {
    margin: 10px 0;
}

.national-parks {
    margin-top: 10px;
}

.city-search {
    display: flex;
    justify-content: space-around;
}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-forecast {
    margin-top: 10px;
}

.card {
    margin-top: 10px;
    text-align: center;   
}

.icon {
    object-fit: scale-down;
}