.navbar {
    background-color:#32c3f0;
    color: white;
    padding: 10px 10px 1px 20px;
}

.navbar h1 {
    /* margin-left: 3%;
    margin-right: 3%; */
    margin-bottom: .5rem;
    display: inline-flex;
}

.covid-warning {
    background-color:#919eab;
    color: white;
    padding: 10px 10px 10px 20px;
    display: none;
}

#covid-data {
    /* text-decoration-line: underline; */
    background-color: #B70000;
    padding: 5px 10px;
    border-radius: 15px;
}

.site-describe {
    /* margin-top: 1%; */
    margin-left: 4%;
    font-style: italic;
}

.main-container {
    padding-top: 10px;
}

.border {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 10px;
}

ul {
    list-style: none;
}

.event-div {
    display: flex;
    flex-direction: column;
}

.main-section, .weather-forecast {

    margin: 10px 0;
}

.national-parks {
    margin-top: 10px;
}

.city-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.city-search h5, .city-search input, .city-search button {
    margin: 5px;
}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-history {
    text-align: center;
}

.weather-forecast {
    margin-top: 10px;
}

.card {
    margin-top: 10px;
    text-align: center;   
}

.icon {
    object-fit: scale-down;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.button-primary {
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* text-align: left; */
} 
=======
.img {
    float: right;
    width: 35%;
    margin-top: 10px;
    max-height: 175px;
}

.park {
    font-weight: 500; 
    margin: 0;
    color: white;
}

.park:hover {
    color: white;
}

.parkItem {
    clear: right;
    clear: left;
    background-color: #33C3F0;
    color: white;
    padding: 5px;
    align-self: center;
}

.parkItem:hover {
    background-color: #0FA0CE;
}

.description {
    margin-top: 10px;
    float: left;
    width: 60%;
    font-weight: 200;
    color: #222;
}

.more-btn {
    clear: right;
    clear: left;
    float: left;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .city-search input {
        width: 100%;
    }

    .button-primary {
        width: 80%;
        padding: 0 5px;
    } 
}

@media screen and (max-width: 550px) {
    .button-primary {
        width: 100%;
        padding: 0 5px;
    } 
  
    .description {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    .park {
        font-size: 1.8rem; 
        margin-top: 0;
        margin-bottom: 2rem;
        font-weight: 300; 
    }
}